@model Filmofil.Models.Movie.MovieCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovieCreateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" class="control-label"></label>
                <input asp-for="Genres" class="form-control" />
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <input asp-for="Synopsis" class="form-control" />
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbnail" class="control-label"></label>
                <input asp-for="Thumbnail" class="form-control" />
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                <input asp-for="Trailer" class="form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudioId" class="control-label">Studio</label>
                <select asp-for="StudioId" class="form-control" id="CountryId">
                    @foreach (var item in Model.Studios)
                    {
                        <option value="@item.StudioId" id="@item.StudioId">@item.Name</option>

                    }
                </select>
                <span asp-validation-for="StudioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreamingServiceId" class="control-label">Streaming service</label>
                <select asp-for="StreamingServiceId" class="form-control" id="CountryId">
                    @foreach (var item in Model.StreamingServices)
                    {
                        <option value="@item.StreamingServiceId" id="@item.StreamingServiceId">@item.Name</option>

                    }
                </select>
                <span asp-validation-for="StreamingServiceId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
