@model Filmofil.Models.Movie.MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<script type="text/javascript" src="~/js/movies-details.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="inner-container">
    <div class="movie-image">
        <img src="~/img/MoviesImages/@Model.Thumbnail" alt="@Model.Name">
        <div class="blue" id="buttonposter">
            <p><i class="fa fa-play-circle" aria-hidden="true"></i>Play</p>
        </div>
    </div>
    <div class="movie-info">
        <span class="rating">
            <b>@Model.Rating</b>
        </span>
        <h1 class="entry-title">@Model.Name</h1>
        <em class="tagline">Higher. Further. Faster.</em>
        <div class="movie-data">
            <div class="details">
                <i class="hd">HD</i>
                <span id='Rated'>PG-13</span>
                <span>
                    <a href="/years/2019/" rel="tag">@Model.Year.Year</a>
                </span>
                |
                @{
                    foreach (var item in Model.Genres)
                    {
                        <span>
                            <a href="/genre/action/">
                                @item.Genre.Name
                            </a> | 
                        </span>
                    }
                }
                <span>@Model.Duration min</span>
            </div>
        </div>
        <p class="movie-description">
            <span class="trama">@Model.Synopsis</span>
            <div class="persons">
                <h3>Actors</h3>

                @foreach (var item in Model.Actings)
                {
                    <div class="person">
                        <div class="img">
                            <a href="/Actor/Details/@item.ActorId">
                                <img src="~/img/ActorsImages/@item.Actor.Image" alt="">
                            </a>
                        </div>
                        <div class="data">
                            <div class="name">
                                <a href="/Actor/Details/@item.ActorId">@item.Actor.FirstName @item.Actor.LastName</a>
                            </div>
                            <div class="caracter">@item.Role</div>
                            <div class="money">$@item.Income Millions</div>
                        </div>
                    </div>

                }

            </div>
        </p>
    </div>
    <div class="movie-actions">
        <ul class="extra">
            <li id="share">
                <a class="a2a_dd" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Share</span></a>
            </li>
            <li id="trailer">
                <a href="@Model.Trailer" rel="modal" data-modal-type="iframe"><i class="fa fa-youtube-play" aria-hidden="true"></i><span>Trailer</span></a>
            </li>
            <li id="download-button">
                <a href="/Studio/Details/@Model.Studio.StudioId" rel="nofollow" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i><span>Production</span></a>
            </li>
            <li id="streaming-hd">
                <a class="blue" id="videoplayer1" title="360p" href="https://streamable.com/e/qjzbkd" title="360p" rel="modal" data-modal-movie="movie1" data-modal-type="iframe"><i class="fa fa-play" aria-hidden="true"></i><span>Streaming <em></em></span></a>
            </li>
            <li id="streaming-hd">
                <a class="blue" id="videoplayer2" title="1080p" href="https://streamable.com/e/d96vvi" title="1080p" rel="modal" data-modal-movie="movie1" data-modal-type="iframe"><i class="fa fa-play" aria-hidden="true"></i><span>Streaming <em>HD</em></span></a>
            </li>
        </ul>
        <ul>
            <li id="play-button">
                <!--<div class="play purple">Watch now in <em>4k</em></div>-->
                <div class="play purple">Advertise <em>Here</em></div>
            </li>
            <li id="quality-button">
                <div class="switch">
                    <input id="quality-switch" type="checkbox" value="">
                    <label for="quality-switch" class="hd">360p</label>
                    <label for="quality-switch" class="switch-toggle"></label>
                    <label for="quality-switch" class="fullhd">1080p</label>
                </div>
                <audio id="audio" src="assets/images/click.mp3" autostart="false"></audio>
            </li>
        </ul>
    </div>
    <section class="disqus">
        <div class="inner-container">
            <div id="disqus_thread"></div>
        </div>
    </section>
</div>
<div id="slideshow">
</div>


<div class="reviews">



    <form asp-action="AddReview">
        @{



            Model.Review.MovieId = Model.MovieId;



        }
        @Html.HiddenFor(m => m.Review.MovieId)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Review.Rating" class="control-label"></label><br />
            <div class="rate">
                <input type="radio" id="star10" name="rate" value="10" />
                <label for="star10" title="text">10 stars</label>
                <input type="radio" id="star9" name="rate" value="9" />
                <label for="star9" title="text">9 stars</label>
                <input type="radio" id="star8" name="rate" value="8" />
                <label for="star8" title="text">8 stars</label>
                <input type="radio" id="star7" name="rate" value="7" />
                <label for="star7" title="text">7 stars</label>
                <input type="radio" id="star6" name="rate" value="6" />
                <label for="star6" title="text">6 star</label>
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <span asp-validation-for="Review.Rating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Review.Comment" class="control-label"></label>
            <textarea asp-for="Review.Comment" style="resize:none" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            <span asp-validation-for="Review.Comment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="AddReview" class="btn btn-primary" />
        </div>
    </form>


    <section class="light">
        <div class="container py-2">
            <div class="h1 text-center text-dark" id="pageHeaderTitle">Reviews</div>

            @foreach (var item in Model.Reviews)
            {
                <article class="postcard light green">

                    <div class="postcard__text t-dark">
                        <h2 class="postcard__title green">@item.User.UserName</h2>
                        <div class="postcard__subtitle small">
                            <time datetime="2020-05-25 12:00:00">
                                <i class="fas fa-calendar-alt mr-2"></i>@item.Time
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">@item.Comment</div>
                        (@item.Rating) @while (item.Rating > 0)
                        {
                            <img src="~/img/Review/25533.jpg" />
                            item.Rating--;
                        }
                    </div>
                </article>
            }
        </div>
    </section>

</div>

<div>
    @Html.ActionLink("Add actor", "AddActor", new { id = Model.MovieId }) |
    @Html.ActionLink("Add personnel", "AddPersonnel", new { id = Model.MovieId }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.MovieId }) |
    <a asp-action="Index">Back to List</a>
</div>










<style>
    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
</style>