@model Filmofil.Models.Movie.MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trailer)
        </dd>
    </dl>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio)
        </dt>
        <dd class="col-sm-10">
            <a href="../../Studio/Details/@Model.Studio.StudioId">@Html.DisplayFor(model => model.Studio.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreamingService)
        </dt>
        <dd class="col-sm-10">
            <a href="../../StreamingService/Details/@Model.StreamingService.StreamingServiceId">@Html.DisplayFor(model => model.StreamingService.Name)</a>
        </dd>
    </dl>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actings)
        </dt>
        @foreach (var m in Model.Actings)
        {
            <dd class="col-sm-10">
                <a href="../../Actor/Details/@m.ActorId">@m.Actor.FirstName @m.Actor.LastName : @m.Role</a>
            </dd>
        }

    </dl>

    <dl class="row">
        <form asp-action="AddReview">
            @{Model.Review.MovieId = Model.MovieId;}
            @Html.HiddenFor(m => m.Review.MovieId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Comment" class="control-label"></label>
                <input asp-for="Review.Comment" class="form-control" />
                <span asp-validation-for="Review.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="AddReview" class="btn btn-primary" />
            </div>
        </form>
    </dl>

    <section class="light">
        <div class="container py-2">
            <div class="h1 text-center text-dark" id="pageHeaderTitle">Movies</div>

            @foreach (var item in Model.Reviews)
            {
                <article class="postcard light green">

                    <div class="postcard__text t-dark">
                        <h1 class="postcard__title green">@item.UserId</h1>
                        <div class="postcard__subtitle small">
                            <time datetime="2020-05-25 12:00:00">
                                <i class="fas fa-calendar-alt mr-2"></i>@item.Time
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">@item.Comment</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item play green">
                                <i class="fas fa-star mr-2"></i>@item.Rating
                            </li>
                        </ul>
                    </div>
                </article>
            }
        </div>
    </section>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId  }) |
    <a asp-action="Index">Back to List</a>
</div>
