@model Filmofil.Models.Movie.MovieViewModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Details</h1>

<div>
    <h4>MovieViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trailer)
        </dd>
    </dl>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio)
        </dt>
        <dd class="col-sm-10">
            <a href="../../Studio/Details/@Model.Studio.StudioId">@Html.DisplayFor(model => model.Studio.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreamingService)
        </dt>
        <dd class="col-sm-10">
            <a href="../../StreamingService/Details/@Model.StreamingService.StreamingServiceId">@Html.DisplayFor(model => model.StreamingService.Name)</a>
        </dd>
    </dl>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actings)
        </dt>
        @foreach (var m in Model.Actings)
        {
            <dd class="col-sm-10">
                <a href="../../Actor/Details/@m.ActorId">@m.Actor.FirstName @m.Actor.LastName : @m.Role</a>
            </dd>
        }

    </dl>


    <form asp-action="AddReview">
        @{Model.Review.MovieId = Model.MovieId;}
        @Html.HiddenFor(m => m.Review.MovieId)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Review.Rating" class="control-label"></label><br />
            <div class="rate">
                <input type="radio" id="star10" name="rate" value="10" />
                <label for="star10" title="text">10 stars</label>
                <input type="radio" id="star9" name="rate" value="9" />
                <label for="star9" title="text">9 stars</label>
                <input type="radio" id="star8" name="rate" value="8"/>
                <label for="star8" title="text">8 stars</label>
                <input type="radio" id="star7" name="rate" value="7" />
                <label for="star7" title="text">7 stars</label>
                <input type="radio" id="star6" name="rate" value="6" />
                <label for="star6" title="text">6 star</label>
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <span asp-validation-for="Review.Rating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Review.Comment" class="control-label"></label>
            <textarea asp-for="Review.Comment" style="resize:none" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            <span asp-validation-for="Review.Comment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="AddReview" class="btn btn-primary" />
        </div>
    </form>


    <section class="light">
        <div class="container py-2">
            <div class="h1 text-center text-dark" id="pageHeaderTitle">Reviews</div>

            @foreach (var item in Model.Reviews)
            {
                <article class="postcard light green">

                    <div class="postcard__text t-dark">
                        <h2 class="postcard__title green">@item.User.UserName</h2>
                        <div class="postcard__subtitle small">
                            <time datetime="2020-05-25 12:00:00">
                                <i class="fas fa-calendar-alt mr-2"></i>@item.Time
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">@item.Comment</div>
                        (@item.Rating) @while (item.Rating > 0)
                        {
                            <img src="~/img/Review/25533.jpg" />
                            item.Rating--;
                        }
                    </div>
                </article>
            }
        </div>
    </section>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    <a asp-action="Index">Back to List</a>
</div>



<style>
    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
</style>