@model Filmofil.Models.Movie.MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<script type="text/javascript" src="~/js/movies-details.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@if (ViewData["UserRole"] != null && ViewData["UserRole"].ToString() == "Admin")
{
    <div style="display: flex; justify-content: end; ">
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Edit","Movies", new { id = Model.MovieId })'">Edit</button>
        <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Delete","Movies", new { id = Model.MovieId })'">Delete</button>

    </div>
}

<div class="inner-container">

    <div class="movie-image">
        <img src="~/img/MoviesImages/@Model.Thumbnail" alt="@Model.Name">
    </div>

    <div class="movie-actions">
        <ul class="extra">
            <li id="trailer">
                <a href="@Model.Trailer" rel="modal" data-modal-type="iframe" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i><span>YouTube trailer</span></a>
            </li>
            <li id="download-button">
                <a href="/Studio/Details/@Model.Studio.StudioId"><i class="fa fa-video-camera" aria-hidden="true"></i><span>Production - @Model.Studio.Name</span></a>
            </li>
            <li id="streaming-hd">
                <a class="blue" id="videoplayer1" href="/StreamingService/Details/@Model.StreamingService.StreamingServiceId" title="360p" rel="modal" data-modal-movie="movie1" data-modal-type="iframe"><i class="fa fa-play" aria-hidden="true"></i><span>Streaming on @Model.StreamingService.Name<em></em></span></a>
            </li>
        </ul>
    </div>

</div>


<div class="movie-info">

    <span class="rating">
        <b>@Model.Rating</b>
    </span>

    <h1 class="entry-title">@Model.Name</h1>
    <em class="tagline">@Model.Studio.Name</em>
    <div class="movie-data">
        <div class="details">
            <i class="hd">HD</i>
            <span id='Rated'>@Model.Year.ToString("yyyy")</span>
            <span>
                <a href="/years/2019/" rel="tag"></a>
            </span>
            |
            @{
                foreach (var item in Model.Genres)
                {
                    <span>
                        <a href="/genre/action/">
                            @item.Genre.Name
                        </a>|
                    </span>
                }
            }
            <span>@Model.Duration min</span>
        </div>
    </div>

    <p class="movie-description">
        <span class="trama">@Model.Synopsis</span>

        <!-- Actors -->
        <div class="persons">

            <h3 style="margin-bottom: 20px;">Actors</h3>

            @foreach (var item in Model.Actings)
            {
                <div class="person">
                    <div class="img">
                        <a href="/Actor/Details/@item.ActorId">
                            <img src="~/img/ActorsImages/@item.Actor.Image" alt="">
                        </a>
                    </div>
                    <div class="data">
                        <div class="name">
                            <a href="/Actor/Details/@item.ActorId">@item.Actor.FirstName @item.Actor.LastName</a>
                        </div>
                        <div class="caracter">@item.Role</div>
                        <div class="money">$@item.Income Millions</div>
                    </div>
                </div>

            }
        </div>


        <!-- Personnel -->
        <div class="persons">

            <h3 style="margin-bottom: 20px;">Staff</h3>

            @foreach (var item in Model.Positions)
            {
                <div class="person">
                    <div class="img">
                        <a href="/Personnel/Details/@item.PersonnelId">
                            <img src="~/img/PersonnelImages/@item.Personnel.Image" alt="">
                        </a>
                    </div>
                    <div class="data">
                        <div class="name">
                            <a href="/Personnel/Details/@item.PersonnelId">@item.Personnel.FirstName @item.Personnel.LastName</a>
                        </div>
                        <div class="caracter">@item.PositionTitle</div>
                    </div>
                </div>

            }
        </div>
    </p>

</div>


<hr style="border-bottom: 1px solid rgba(255, 255, 255, 0.07);"/>

<div class="reviews">

        <form asp-action="AddReview">

            @{
                Model.Review.MovieId = Model.MovieId;
            }

            @Html.HiddenFor(m => m.Review.MovieId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <h3 style="margin-bottom: 20px;">Rating</h3>

                <div class="rate" id="rates">
                    <input type="radio" id="star10" value="10" onclick="setRating(10)" />
                    <label for="star10">10 stars</label>
                    <input type="radio" id="star9" value="9" onclick="setRating(9)" />
                    <label for="star9">9 stars</label>
                    <input type="radio" id="star8" value="8" onclick="setRating(8)" />
                    <label for="star8">8 stars</label>
                    <input type="radio" id="star7" value="7" onclick="setRating(7)" />
                    <label for="star7">7 stars</label>
                    <input type="radio" id="star6" value="6" onclick="setRating(6)" />
                    <label for="star6">6 star</label>
                    <input type="radio" id="star5" value="5" onclick="setRating(5)" />
                    <label for="star5">5 stars</label>
                    <input type="radio" id="star4" value="4" onclick="setRating(4)" />
                    <label for="star4">4 stars</label>
                    <input type="radio" id="star3" value="3" onclick="setRating(3)" />
                    <label for="star3">3 stars</label>
                    <input type="radio" id="star2" value="2" onclick="setRating(2)" />
                    <label for="star2">2 stars</label>
                    <input type="radio" id="star1" value="1" onclick="setRating(1)" />
                    <label for="star1">1 star</label>
                </div>

                <div id="rating">
                    <input type="hidden" name="Review.Rating" value="1" />
                </div>

                <span asp-validation-for="Review.Rating" class="text-danger"></span>

            </div>

            <div class="form-group">
                <h3 style="margin-bottom: 20px;">Comment</h3>

                <textarea asp-for="Review.Comment" style="resize:none" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                <span asp-validation-for="Review.Comment" class="text-danger"></span>
            </div>

            <input type="submit" value="AddReview" class="btn btn-primary" />
        </form>

        <section class="light">
            <div class="container py-2">

                <div class="h1 text-center text-dark" id="pageHeaderTitle">Reviews</div>

                @foreach (var item in Model.Reviews)
                {
                    <article class="postcard light green">

                        <div class="postcard__text t-dark">
                            <h2 class="postcard__title green">@item.User.UserName</h2>
                            <div class="postcard__subtitle small"  style="margin: 10px 0;">
                                <time datetime="2020-05-25 12:00:00">
                                    <i class="fas fa-calendar-alt mr-2"></i>@item.Time
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">@item.Comment</div>
                            <div class="postcard__review-mark">
                                (@item.Rating) @while (item.Rating > 0)
                                {
                                    <img src="~/img/Review/rating-star.png" style="max-width:50px"/>
                                    item.Rating--;
                                }
                            </div>
                        </div>
                        <div class="postcard__options">
                            @{
                                var parms = new Dictionary<string, string>
                                {
                                    { "userId", item.UserId.ToString() },
                                    { "movieId", item.MovieId.ToString() }
                                };
                            }

                            @if (ViewData["UserRole"].ToString() == "Admin")
                            {
                                <form asp-action="Delete" asp-controller="Review" asp-all-route-data="parms">
                                    <input type="submit" value="Delete review" class="btn btn-danger" />
                                </form>
                            }
                        </div>
                    </article>
                }

            </div>
        </section>

</div>


<script src="~/js/ratings.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function setRating(rating) {
        $("#rating input:first-child").val(rating);
    }
</script>


<style>
    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>