@model Filmofil.Models.Movie.MovieCreateModel

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
-->

<style>
    #button-add-actors {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        overflow: visible;
        text-transform: none;
        border: none;
        padding: 7px 20px;
        border-radius: 20px;
        background-color: #ffffff;
        color: #282c39;
        position: relative;
        z-index: 99;
        float: right;
        -webkit-appearance: button;
        cursor: pointer;
    }

    #button-add-personnel {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        overflow: visible;
        text-transform: none;
        border: none;
        padding: 7px 20px;
        border-radius: 20px;
        background-color: #ffffff;
        color: #282c39;
        position: relative;
        z-index: 99;
        float: right;
        -webkit-appearance: button;
        cursor: pointer;
    }
</style>
<style>
    .mul-select {
        width: 100%;
    }

        .mul-select body {
            color: #000000;
        }
</style>

<script>
    $(document).ready(function () {
        $(".mul-select").select2({
            placeholder: "Select genres", // placeholder
            tags: true,
            tokenSeparators: ['/', ',', ',', ' ']
        });
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<h4>MovieCreateModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" method="post" class="mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col">

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="GenreIds" class="control-label">Genres</label>
                        <select asp-for="GenreIds" class="mul-select" id="GenreId">
                            @foreach (var item in Model.Genres)
                            {
                                <option value="@item.GenreId" id="@item.GenreId">@item.Name</option>

                            }
                        </select>
                        <span asp-validation-for="GenreIds" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" value="@DateTime.Now" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StudioId" class="control-label">Studio</label>
                        <select asp-for="StudioId" class="form-control" id="CountryId">
                            @foreach (var item in Model.Studios)
                            {
                                <option value="@item.StudioId" id="@item.StudioId">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="StudioId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">

                    <div class="form-group">
                        <label asp-for="Synopsis" class="control-label"></label>
                        <textarea asp-for="Synopsis" style="resize:none" class="form-control" rows="6" /></textarea>
                        <span asp-validation-for="Synopsis" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Thumbnail" class="control-label"></label>
                        <input asp-for="Thumbnail" class="form-control" />
                        <span asp-validation-for="Thumbnail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Trailer" class="control-label"></label>
                        <input asp-for="Trailer" class="form-control" />
                        <span asp-validation-for="Trailer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StreamingServiceId" class="control-label">Streaming service</label>
                        <select asp-for="StreamingServiceId" class="form-control" id="CountryId">
                            @foreach (var item in Model.StreamingServices)
                            {
                                <option value="@item.StreamingServiceId" id="@item.StreamingServiceId">@item.Name</option>

                            }
                        </select>
                        <span asp-validation-for="StreamingServiceId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <hr style="border-top: 1px solid white;margin-top: 40px;margin-bottom: 40px;" />

            <div class="row">
                <div class="col">

                    <!-- Actors table -->
                    <div class="form-group">
                        <h2>Actors:</h2>
                        <table id="actors-table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Image</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SelectListItemActors.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.CheckBoxFor(m => m.SelectListItemActors[i].IsSelected)
                                        </td>
                                        <td>
                                            <img src="~/img/ActorsImages/@Model.SelectListItemActors[i].Actor.Image" class="img-fluid" alt="actor" style="height: 100px;border-radius: 50%; margin-top: 10px!important;">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.SelectListItemActors[i].Actor.FirstName)
                                            @Html.HiddenFor(m => m.SelectListItemActors[i].Actor.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemActors[i].Actor.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.SelectListItemActors[i].Actor.LastName)
                                            @Html.HiddenFor(m => m.SelectListItemActors[i].Actor.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemActors[i].Actor.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.SelectListItemActors[i].Actor.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemActors[i].Actor.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemActors[i].Actor.PersonId)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div id="button-add-actors">Add actors</div>
                    </div>

                </div>
                <div class="col">

                    <!-- Selected actors cards -->
                    <div class="form-group" id="selected-actors">
                        <h2>Selected actors:</h2>
                    </div>

                </div>
            </div>

            <hr style="border-top: 1px solid white;margin-top: 40px;margin-bottom: 40px;" />

            <div class="row">

                <div class="col">

                    <!-- Personnel table -->
                    <div class="form-group">
                        <h2>Personnel:</h2>
                        <table id="peraonnel-table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Image</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SelectListItemPersonnel.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.CheckBoxFor(m => m.SelectListItemPersonnel[i].IsSelected)
                                        </td>
                                        <td>
                                            <img src="~/img/PersonnelImages/@Model.SelectListItemPersonnel[i].Personnel.Image" class="img-fluid" alt="actor" style="height: 100px;width: 100px;border-radius: 50%; margin-top: 10px!important;">
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.SelectListItemPersonnel[i].Personnel.FirstName)
                                            @Html.HiddenFor(m => m.SelectListItemPersonnel[i].Personnel.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemPersonnel[i].Personnel.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.SelectListItemPersonnel[i].Personnel.LastName)
                                            @Html.HiddenFor(m => m.SelectListItemPersonnel[i].Personnel.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemPersonnel[i].Personnel.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.SelectListItemPersonnel[i].Personnel.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemPersonnel[i].Personnel.PersonId)
                                            @Html.HiddenFor(m => m.SelectListItemPersonnel[i].Personnel.PersonId)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div id="button-add-personnel">Add personnel</div>
                    </div>

                </div>
                <div class="col">

                    <!-- Selected actors cards -->
                    <div class="form-group" id="selected-personnel">
                        <h2>Selected personnel:</h2>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<script src="~/js/create-movie.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



