@model Filmofil.Models.Movie.MovieIndexViewModel

@{
    ViewData["Title"] = "Movies";
}
<link rel="stylesheet" runat="server" media="screen" href="~/css/movies.css" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

<div>
    <h1 class="heading" style="margin-left: 0px;">Movies</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<div class="filter-elements">

    <form asp-action="Index" method="get" style="display: inline-block;">
        <div class="form-actions no-color">
            <p>
                Search: <input type="text" name="SearchString" value="@ViewData["SearchString"]" onchange="this.form.submit()" />
            </p>
        </div>
    </form>

    <form method="GET" action="https://localhost:5001/Movies/Index" name="genres-form" style="display: inline-block;">
        <div class="form-group">
            <select asp-for="GenreId" class="form-control" name="selectGenre" id="GenreId" onchange="this.form.submit()" style="max-width: 200px;">
                <option value="noFilter">-- Select Genre --</option>
                @foreach (var item in Model.Genres)
                {
                    if (@ViewData["SelectedGenre"] != null && @ViewData["SelectedGenre"].Equals(@item.Name))
                    {
                        <option value="@item.Name" id="@item.GenreId" selected="selected">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Name" id="@item.GenreId">@item.Name</option>
                    }
                }
            </select>
        </div>
    </form>

</div>


<div class="content">

    @foreach (var item in Model.Movies)
    {
        item.Thumbnail = "https://localhost:5001/img/MoviesImages/" + @item.Thumbnail;
        <a class="card" href="/Movies/Details/@item.MovieId">

            <div class="frontWeb" style="background-image: url(@item.Thumbnail);">
            </div>

            <div class="back">
                <div style="height: 300px;">
                    <div class="release_date">@item.Name<span> (@item.Year.Year)</span></div>
                    <div style="font-size: 1em;margin-top: 11px;margin-bottom: 10px;"><i class="fas fa-star mr-2"></i>@item.Rating</div>
                    <div class="movie_gens">
                        @{

                            foreach (var it in @item.Genres)
                            {
                                @it.Genre.ToString()
                            }

                        }

                    </div>
                </div>
            </div>

        </a>
    }

</div>

