@using Domen
@model List<Movie>

@{
    ViewData["Title"] = "Movies";
}
<link rel="stylesheet" runat="server" media="screen" href="~/css/movies.css" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">


<div>
    <h1 class="heading" style="margin-left: 0px;">Movies</h1>
</div>


<div class="content">

    @foreach (var item in Model)
    {
            item.Thumbnail = "https://localhost:5001/img/MoviesImages/" + @item.Thumbnail;
        <a class="card" href="/Movies/Details/@item.MovieId">

            <div class="frontWeb" style="background-image: url(@item.Thumbnail);">
            </div>

            <div class="back">
                <div style="height: 300px;">
                    <div class="release_date">@item.Name<span> (@item.Year.Year)</span></div>
                    <div class="movie_gens">@item.Genres</div>
                    <div style="font-size: 1.4em;margin-top: 11px;margin-bottom: 10px;"><i class="fas fa-star mr-2"></i>@item.Rating</div>

                    <p class="overview" style="font-size: 1.1em;">@item.Synopsis</p>

                </div>
            </div>

        </a>
    }

</div>

