@using Domen
@model List<Movie>

@{
    ViewData["Title"] = "Movies";
}
<link rel="stylesheet" runat="server" media="screen" href="~/css/movies.css" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

<div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<div class="content">
    <h1 class="heading">Movies-</h1>

    @foreach (var item in Model)
    {
        {
            item.Thumbnail = "https://image.tmdb.org/t/p/original/wAAt2gvbkbeefzjd06GPfkdfUho.jpg";
            //item.Thumbnail = "/img/MoviesImages/" + @item.Thumbnail;
        }
        <a class="card" href="Movies/Details/@item.MovieId">

            <div class="frontWeb" style="background-image: url(@item.Thumbnail);">
                <p>@item.Name</p>
            </div>

            <div class="back">
                <div>
                    <div class="release_date">@item.Name<span>(@item.Year.Year)</span></div>
                    <div class="movie_gens">@item.Genres</div>
                    <div>⭐@item.Rating</div>

                    <p class="overview">@item.Synopsis</p>

                </div>
            </div>

        </a>
    }
</div>

