@model IEnumerable<Domen.Movie>

@{
    ViewData["Title"] = "Movies";
}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/dt-1.11.4/b-2.2.2/fc-4.0.1/sc-2.0.5/sb-1.3.0/sp-1.4.0/sl-1.3.4/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.6.0/dt-1.11.4/b-2.2.2/fc-4.0.1/sc-2.0.5/sb-1.3.0/sp-1.4.0/sl-1.3.4/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="~/js/dashboardPages.js"></script>
<h1 class="heading" style="margin-left: 0px;">Movies</h1>

<button type="button" onclick="location.href='@Url.Action("Create","Movies")'">Create new Movie</button>

<table id="myTable" class="header_fixed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>

            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    <img src="~/img/MoviesImages/@item.Thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @item.Year.ToString("yyyy")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>

                <td>

                    <button type="button" onclick="location.href='@Url.Action("Edit","Movies",new { id = item.MovieId })'">Edit</button>
                </td>
                <td>

                    <button type="button" onclick="location.href='@Url.Action("Delete","Movies",new { id = item.MovieId })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    h1 {
        color: #ffffff;
    }

    label {
        color: #ffffff;
    }

    td img {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: 5px solid #E6E7E8;
    }

    .table {
        display: table;
        width: 300px;
        margin: 60px auto;
        font-size: 18px;
        padding: 5rem;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header_fixed {
        height: 50px;
        overflow: auto;
        margin-top: 30px;
    }

        .header_fixed thead th {
            position: sticky;
            top: 0;
            background-color: #282c39;
            color: #ffffff;
            font-size: 15px;
        }

    tr:nth-child(even) {
        background-color: #ffffff;
    }

    tr:nth-child(odd) {
        background-color: #404040;
    }

    tr:hover td {
        color: #282c39;
        cursor: pointer;
        background-color: #ffffff;
    }

    th, td {
        border: 1px solid #dddddd;
        padding: 10px 20px;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    }

    td button {
        border: none;
        padding: 7px 20px;
        border-radius: 20px;
        background-color: #282c39;
        color: #ffffff;
    }

    button {
        border: none;
        padding: 7px 20px;
        border-radius: 20px;
        background-color: #ffffff;
        color: #282c39;
    }

    #main {
        position: absolute;
        display: block;
        background: #1d1b24;
        width: 100%;
    }
</style>