@model Domen.StreamingService

@{
    ViewData["Title"] = "Streaming service - " + Model.Name;
}
<script type="text/javascript" src="~/js/movies-details.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@if (ViewData["UserRole"] != null && ViewData["UserRole"].ToString() == "Admin")
{
    <div style="display: flex; justify-content: end; ">
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Edit","StreamingService", new { id = Model.StreamingServiceId })'">Edit</button>
        <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Delete","StreamingService", new { id = Model.StreamingServiceId })'">Delete</button>

    </div>
}

<div class="inner-container">

    <div class="movie-image">
        <img src="~/img/streamingServiceLogo/@Model.LogoImg" alt="@Model.Name">
    </div>

    <div class="movie-actions">
        <ul class="extra">

            <li id="download-button">
                <a><i class="fas fa-city" aria-hidden="true"></i><span>@Model.Headquarter </span></a>
            </li>
            <li id="trailer">
                <a><i class="far fa-calendar-alt" aria-hidden="true"></i><span>Founded: @Model.Founded.ToString("dd.MM.yyyy.")</span></a>
            </li>
            <li id="trailer">
                <a><i class="fas fa-dollar-sign" aria-hidden="true"></i><span>Monthly price: $@Model.Price</span></a>
            </li>
            <li id="streaming-hd">
                <a class="blue" id="videoplayer1" href="@Model.Website" target="_blank"><i class="fab fa-chrome" aria-hidden="true"></i><span>Visit webiste<em></em></span></a>
            </li>
        </ul>
    </div>

</div>






<style>
    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>
