@model Filmofil.Models.Personnel.PersonnelViewModel

@{
    ViewData["Title"] = "Personnels - " + Model.FirstName + " " + Model.LastName;
}

@if (ViewData["User"].ToString() == "True")
{
    <div style="display: flex; justify-content: end; ">
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Edit","Personnel", new { id = Model.PersonId })'">Edit</button>
        <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Delete","Personnel", new { id = Model.PersonId })'">Delete</button>

    </div>
}

<div class="inner-container">

    <div class="movie-image">
        <img class="details-image" src="~/img/PersonnelImages/@Model.Image" alt="@Model.FirstName @Model.LastName">
    </div>

    <div class="movie-actions">
        <ul class="extra">
            <li id="download-button">
                <a><i class="fas fa-globe-europe" aria-hidden="true"></i><span>@Model.Country.Name </span></a>
            </li>
            <li id="trailer">
                <a><i class="far fa-calendar-alt" aria-hidden="true"></i><span>@Model.Born.ToString("dd.MM.yyyy.")</span></a>
            </li>
        </ul>
    </div>

</div>


<div class="movie-info">

    <h1 class="entry-title">@Model.FirstName @Model.LastName</h1>

    <div class="movie-data">
        <div class="details">
            <i class="hd">Trademark</i>
            <br />
            <br />
            <span>
                @Model.Trademark
            </span>

        </div>
    </div>

</div>
