@model Filmofil.Models.Personnel.PersonnelViewModel

@{
    ViewData["Title"] = "Personnels - " + Model.FirstName + " " + Model.LastName;
}

<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <img src="~/img/PersonnelImages/@Model.Image" style="width: 350px;" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.FirstName @Model.LastName</h1>
                </div>
            </div>

            <hr />

            <ul class="list-group">

                <li class="list-group-item"><span class="font-weight-bold">Born : </span> @Model.Born.ToString("dd.MM.yyyy.")</li>
                <li class="list-group-item"><span class="font-weight-bold">Country : </span> @Model.Country.Name</li>
                <li class="list-group-item"><span class="font-weight-bold">Trademark : </span> @Model.Trademark</li>
            </ul>
        </div>
    </div>
</div>
<hr />
@if (Model.IsAdmin) { 
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.PersonId }) |
    <a asp-action="Index">Back to List</a>
</div>
}

