@model ActorViewModel
@{
    ViewData["Title"] = "Actors - " + Model.FirstName + " " + Model.LastName;
}

<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <img src="~/img/ActorsImages/@Model.Image" style="width: 350px;" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.FirstName @Model.LastName</h1>
                </div>
            </div>

            <hr />

            <ul class="list-group">

                <li class="list-group-item"><span class="font-weight-bold">Born : </span> @Model.Born.ToString("dd.MM.yyyy.")</li>
                <li class="list-group-item"><span class="font-weight-bold">Country : </span> @Model.Country.Name</li>
                <li class="list-group-item"><span class="font-weight-bold">Networth : </span> $@Model.Networth Million</li>
            </ul>
        </div>
    </div>
    <br /><h2>Filmography</h2><br />
    <div class="row">

        @foreach (var item in Model.Actings)
        {
            <div class="card" style="width:15em;margin:10px;">
                <img src="~/img/MoviesImages/@item.Movie.Thumbnail" class="card-img-top" />
                <div class="card-body">
                    <div class="card-title">
                        <h5>@item.Movie.Name</h5>
                      <h6>Role: @item.Role</h6>
                      <h6>Income: $@item.Income Millions</h6>
                    </div>
                    <a href="/Movies/Details/@item.MovieId" class="btn btn-primary">Read More...</a>
                </div>
            </div>
        }
    </div>
</div>
<hr />
@if (Model.IsAdmin == true)
{
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.PersonId }) |
        <a asp-action="Index">Back to List</a>
    </div>
}

